:root {
    --blue-leave-1: rgb(194,207,223);
    --blue-leave-2: #006A9A;
    --blue-leave-3: #0e1b27;
    --blue-leave-4: #002F3F;
    --blue-leave-5: #000D15;
    --blue-leave-6: #5D7DA3;
    --blue-leave-7: #87AAD0;
}

.bg-lv5{
    background-color: var(--blue-leave-5);
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
    height: 7px;
    background-color: var(--blue-leave-3);
}

::-webkit-scrollbar-thumb {
    background-color: var(--blue-leave-6);
}

.pointer {cursor: pointer;}

.animate__animated{
    animation-duration: 0.4s !important;
}

.bg-dark-blue{
    background-color: var(--blue-leave-5);
}

.mh-60{
    min-height: 50vh;
}

.footer-section-header{
    font-size: 1.3rem;
}

.footer-section-header{
    font-size: 1.3rem;
    color: var(--blue-leave-6);
}

.footer-section-item{
    color: var(--blue-leave-1);
}

.footer-section-content{
    color: var(--blue-leave-1);
}

.footer-rights{
    color: var(--blue-leave-6);
}

.bg-dark-blue-2{
    background-color: var(--blue-leave-3);
}

.white-hr {
    border: none;
    height: 1px;
    color: white;
    background-color: white;
}

.btn-light-blue{
    background-color: var(--blue-leave-6);
    color: var(--blue-leave-5);
}

.btn-light-blue2{
    background-color: var(--blue-leave-7);
    color: var(--blue-leave-5);
}

.btn-light-blue:hover{
    background-color: var(--blue-leave-5);
    color: white;
}

.btn-light-blue2:hover{
    background-color: var(--blue-leave-5);
    color: white;
}

.img-custom{
    width: 100px;
}

#header{
    position: sticky;
    top: 0;
    z-index: 10;
}

body{
    background-color: var(--blue-leave-3);
}

.card{
    width: 100%;
    cursor: pointer;
    color: var(--blue-leave-1);
    background-color: transparent;
    border: 0px;
}

.cardPoster{
    object-fit: cover;
    width: 100%;
    border-radius: 5px;
}

.cardPrimary{
    display: block;
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.cardSecondaryOne{
    display: flex;
    justify-content: left;
}

.cardSecondaryTwo{
    display: flex;
    justify-content: right;
}

.cardSecondary{
    font-size: 12px;
}

.bg-color-red{
    background-color: red;
}

.bg-color-green{
    background-color: green;
}

#genreSelectDIV{
    height: 100% !important;
}

.vscomp-ele{
    max-width: 100% !important;
    height: 100% !important;
    min-height: 40px;
}

.vscomp-ele-wrapper{
    height: 100% !important;
    min-height: 40px;
}

.btn-sorting{
    color: white;
    height: 100%;
    display: inline;
    min-height: 40px;
}

.btn-sorting:hover{
    color: rgb(179, 176, 176);
}

#sortingTypeDIV{
    overflow-x: auto;
    white-space: nowrap;
}

.radius-0-imp{
    border-radius: 0px !important;
}

.border-1-white{
    border: 1px solid white;
}

.h-100{
    height: 100% !important;
}

.bg-white{
    background-color: white;
}

.border-right-0{
    border-right: 0px;
}

.border-left-0{
    border-left: 0px;
}

.mh-40p{
    min-height: 40px;
}

.w-100{
    width: 100%;
}

.mxw-100{
    max-width: 100%;
}

.header-title tr td{
    -webkit-text-shadow: 0 0 10px rgb(0, 0, 0);
    text-shadow: 0 0 10px rgb(0, 0, 0);
}

.header-table{
    width: 50%;
    padding: 30px 10px 10px 10px;
    z-index: 3;
    position: relative;
    color: white;
}

.header-grid{
    padding: 30px 10px 10px 10px;
    color: white;
    position: relative;
}

.breakText {
    word-wrap: break-word;
}

.head{
    min-height: 80vh;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    vertical-align: bottom;
}

.head::before{
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    background: linear-gradient(70deg, #000, #00000000);
}

.bold-g{
    font-weight: bold;
}

.links-col-head{
    border: 1px solid var(--blue-leave-2);
    padding: 10px;
}

.links-col-body{
    border: 1px solid var(--blue-leave-2);
    padding: 10px;
    border-top: 0;
}

.ellipsis-g{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.openedLinkRow{
    border: 1px solid var(--blue-leave-2);
}

.linkRow:hover{
    background-color: var(--blue-leave-4);
}

.custom-btn-lv{
    background-color: var(--blue-leave-5);
    color: white;
    border: 1px solid var(--blue-leave-2);
    margin: 5px;
}

.custom-btn-lv:hover{
    background-color: var(--blue-leave-4);
    color: white;
}

.font-30{
    font-size: 30px;
}

.openedEpisode{
    border: 1px solid var(--blue-leave-2);
}

.folderFilesHeader{
    color: white;
    font-family: ReginaCustom;
    font-size: 50px;
}

@font-face {
    font-family: ReginaCustom;
    src: url(../fonts/ReginaScript-d9xAX.ttf);
}

.folderFilesContainer{
    width: 100%;
}

.vh-65{
    height: 75vh;
}